<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="C:\Logs\Uniform\nlog.log">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File"
				name="global"
				fileName="C:\Logs\Uniform\global-${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${logger} ${aspnet-traceidentifier:whenEmpty=(No trace identifier)} ${message:whenEmpty=(No message)} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" 
				minlevel="Trace" 
				writeTo="global" />
	</rules>
</nlog>